<table id="temlTable" style="width: 500px; height: 500px; margin-left: auto; margin-right: auto;" border="1">
    <tbody>
    <tr>
        <td style="vertical-align: top;">
            <p><span style="font-size: 24pt; font-family: courier new,courier,monospace;">one border table Cell</span></p>
            <table style="height: 17px; width: 485px;">
                <tbody>
                <tr>
                    <td style="text-align: right; width: 138.483px;">
                        <p><img src="blob:http://demo:83/4e0984b5-09e1-4c87-b632-155e1f6252a0" alt="" width="116" height="116" style=""/></p>
                    </td>
                    <td style="text-align: right; width: 809.517px;">
                        <p style="text-align: right;">rtyutrtyurtyr uy t rty rt rtyuryrty</p>
                        <p>1</p>
                        <p>tyututyu</p>
                        <div id="draggable" style="width: 50px; height: 50px;">w1
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p style="text-align: right;">yurtyurtyut</p>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>