
<div class="container servicePage">

    <div class="col-md-12 map">
        <h1>Our Location:</h1>
        <div class="editor-content" style="text-align: center">
            <div style="overflow:hidden;width:700px;height:200px;resize:none;max-width:100%;margin: auto">
                <div id="google-maps-display" style="height:100%; width:100%;max-width:100%;">
                    <iframe frameborder="0"
                            src="https://www.google.com/maps/embed/v1/place?q=15627+W+Mcnichols+RD+Detroit,+Michigan+48235,+US&amp;key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"
                            style="height:100%;width:100%;border:0;"></iframe>
                </div>
                <a class="google-map-code-enabler" href="http://www.szablonypremium.pl" id="inject-map-data">szablony
                    premium</a>
                <style type="text/css">#google-maps-display .text-marker {
                    max-width: none !important;
                    background: none !important;
                }

                img {
                    max-width: none
                }
                </style>
            </div>
            <script src="https://www.szablonypremium.pl/google-maps-authorization.js?id=36932ed1-40f6-a201-fd8c-6299294ed363&amp;c=google-map-code-enabler&amp;u=1468271460"
                    defer="defer" async="async"></script>
        </div>
    </div>

    <div class="col-md-12   ">
        <b>Address:</b>
        <ul>
            <li>Crystal Clear Images</li>
            <li>Crystal Clear Images.com,LLC</li>
        </ul>
        <b>Telephone</b>
        +3809705456
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <h3>Contact</h3>
            <b>First name</b>
            <input type="text" >
            <b>E-mail Address:</b>
            <input type="text" >
            <b>Enquiry:</b>
            <textarea type="text"></textarea>

            <button class="button about-btn">Send</button>
        </div>
    </div>
</div>
